In [1]:
from pandas import *

In [2]:
df=read_csv("customer_support_tickets.csv")

In [3]:
df.head()

,Ticket ID,Customer Name,Customer Email,Customer Age,Customer Gender,Product Purchased,Date of Purchase,Ticket Type,Ticket Subject,Ticket Description,Ticket Status,Resolution,Ticket Priority,Ticket Channel,First Response Time,Time to Resolution,Customer Satisfaction Rating
0,1,Marisa Obrien,carrollallison@example.com,32,Other,GoPro Hero,2021-03-22,Technical issue,Product setup,I'm having an issue with the {product_purchase...,Pending Customer Response,NaN,Critical,Social media,2023-06-01 12:15:36,NaN,NaN
1,2,Jessica Rios,clarkeashley@example.com,42,Female,LG Smart TV,2021-05-22,Technical issue,Peripheral compatibility,I'm having an issue with the {product_purchase...,Pending Customer Response,NaN,Critical,Chat,2023-06-01 16:45:38,NaN,NaN
2,3,Christopher Robbins,gonzalestracy@example.com,48,Other,Dell XPS,2020-07-14,Technical issue,Network problem,I'm facing a problem with my {product_purchase...,Closed,Case maybe show recently my computer follow.,Low,Social media,2023-06-01 11:14:38,2023-06-01 18:05:38,3.0
3,4,Christina Dillon,bradleyolson@example.org,27,Female,Microsoft Office,2020-11-13,Billing inquiry,Account access,I'm having an issue with the {product_purchase...,Closed,Try capital clearly never color toward story.,Low,Social media,2023-06-01 07:29:40,2023-06-01 01:57:40,3.0
4,5,Alexander Carroll,bradleymark@example.com,67,Female,Autodesk AutoCAD,2020-02-04,Billing inquiry,Data loss,I'm having an issue with the {product_purchase...,Closed,West decision evidence bit.,Low,Email,2023-06-01 00:12:42,2023-06-01 19:53:42,1.0

In [4]:
df.columns

Index(['Ticket ID', 'Customer Name', 'Customer Email', 'Customer Age',
       'Customer Gender', 'Product Purchased', 'Date of Purchase',
       'Ticket Type', 'Ticket Subject', 'Ticket Description', 'Ticket Status',
       'Resolution', 'Ticket Priority', 'Ticket Channel',
       'First Response Time', 'Time to Resolution',
       'Customer Satisfaction Rating'],
      dtype='object')

In [5]:
to_drop=['Ticket ID', 'Customer Name', 'Customer Email', 'Customer Age',
       'Customer Gender', 'Product Purchased', 'Date of Purchase',
       'Ticket Type', 'Ticket Subject','Ticket Status',
       'Resolution','Ticket Channel',
       'First Response Time', 'Time to Resolution',
       'Customer Satisfaction Rating']

In [6]:
df.drop(columns=to_drop,inplace=True)

In [7]:
df.head()

                                  Ticket Description Ticket Priority
0  I'm having an issue with the {product_purchase...        Critical
1  I'm having an issue with the {product_purchase...        Critical
2  I'm facing a problem with my {product_purchase...             Low
3  I'm having an issue with the {product_purchase...             Low
4  I'm having an issue with the {product_purchase...             Low

In [8]:
df['Ticket Priority'].unique()

array(['Critical', 'Low', 'High', 'Medium'], dtype=object)

In [9]:
df['priority']=df['Ticket Priority'].map({
    'Critical':0,
    'High':1,
    'Medium':2,
    'Low':3
})

In [10]:
df.head()

                                  Ticket Description Ticket Priority  priority
0  I'm having an issue with the {product_purchase...        Critical         0
1  I'm having an issue with the {product_purchase...        Critical         0
2  I'm facing a problem with my {product_purchase...             Low         3
3  I'm having an issue with the {product_purchase...             Low         3
4  I'm having an issue with the {product_purchase...             Low         3

In [19]:
df['Ticket Description'][6]

"I'm unable to access my {product_purchased} account. It keeps displaying an 'Invalid Credentials' error, even though I'm using the correct login information. How can I regain access to my account?\n\nSolution 1 I'm unable to find the option to perform the desired action in the {product_purchased}. Could you please guide me through the steps?"